/*css-змінні для кольору*/
:root {
  --examples-gap: 30px;
  --white-color: #ffffff;
  --primary-background-color: var(--white-color);
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --footer-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
}

/*властивості для body*/
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

/*скидання стилів*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*загальний клас section*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;

  letter-spacing: 0.03em;
  line-height: 1.71;
}

/*утилітарний клас container*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* загальний клас для заголовків секцій*/
.section-title {
  margin-bottom: 50px;

  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}

/*паттерн для приховання заголовків*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*утилітраний клас для списків*/
.list {
  list-style: none;
}

/*властивості для логотипу*/
.logo {
  color: var(--logo-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
}

/*загальний клас для посилань хедера*/
.link {
  text-decoration: none;
}

/*-------------- HEADER ---------------------*/
/*клас для хедера*/
.header {
  padding-top: 25px;
  padding-bottom: 24px;

  border-bottom: 1px solid #ececec;
}

/*загальний контейнер хедера*/
.container.header-container {
  display: flex;
  align-items: center;
}

/*контейнер навігації*/
.header-nav {
  display: flex;
  align-items: inherit;
}

/*список навігації*/
.header-list {
  display: flex;
  margin-left: 93px;
  align-items: inherit;
  gap: 50px;
}

.header-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

/*акцент кольору (активний лінк, ховер, фокус та акцент в логотипі */
.header-link.current,
.accent-logo,
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

/*контейнер для контактів хедера*/
.header-contacts {
  display: flex;
  gap: 30px;
  margin-left: auto;
  align-items: inherit;
}

.contacts-item {
height: 18px;}

/*задаємо колір для посилань контактів*/
.contacts-link {
  height: 100%;
  display: flex;
  gap: 10px;
  align-items: center;

  color: var(--primary-text-color);
}

/*задаємо колір для іконок контактів*/
.contacts-icon {
  fill: currentColor;
}

/*-------------- ГЕРОЙ ---------------------*/
/*фон секції герой*/
.hero-section {
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
}

/* Контейнер Героя */
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: #c4c4c4;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*заголовок героя*/
.hero-title {
  max-width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/*кнопка Героя*/
.hero-button {
  min-width: 216px;
  height: 50px;

  color: var(--white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  border-color: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*-------------- ВЛАСТИВОСТІ ---------------------*/

.features-list {
  display: flex;
  gap: 30px;
}

.features-item {
  flex-basis: 270px;
}

/* заголовок секції властивості */
.features-list-title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

/* контейнер для іконок секції  */
.features-box {
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f5f4fa;
  border-radius: 4px;
}

/*---------------ЧИМ МИ ЗАЙМАЄМОСЬ--------------*/
.spec-section {
  padding-top: 0;
}

/*--список секції --*/
.spec-list {
  display: flex;
  justify-content: space-between;
}

.spec-item {
  min-width: 370px;
}

/*-------------- НАША КОМАНДА ---------------------*/
/*фон секції Наша команда*/
.command-section {
  background-color: var(--secondary-background-color);
}

.command-list {
  display: flex;
  gap: 30px;
  justify-content: center;

  text-align: center;
}

.command-item {
  min-width: 270px;

  background-color: var(--primary-background-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

/*властивості заголовків всередині секції Наша команда*/
.command-list-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

/*властивості тексту всередині секції Наша команда*/
.command-list-text {
  margin-top: 10px;

  font-size: 16px;
  line-height: 1.19;
}

/* список посилань на соцмережі */
.command-soc-list {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.command-soc-item {
  width: 44px;
  height: 44px;
}
.command-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
}

.command-soc-icon {
  fill: currentColor;
}

.command-soc-link:hover,
.command-soc-link:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/*-------------- ПОСТІЙНІ КЛІЄНТИ ---------------------*/
.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-item-link {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(175, 177, 184, 1);
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-item-link:hover {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.clients-icon {
  fill: currentColor;
}

/*-------------- ПОРТФОЛІО ---------------------*/

.portfolio-filter {
  margin-bottom: 50px;
  display: flex;
  gap: 8px;
  justify-content: center;
}

/*властивості кнопок фільтра*/
.portfolio-filter-button {
  padding: 6px 25px;

  cursor: pointer;
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  border-radius: 4px;
  border-color: transparent;
}

/*зміни при ховері, фокусі на фільтрі*/
.active-button,
.portfolio-filter-button:hover,
.portfolio-filter-button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-examples {
  display: flex;
  flex-wrap: wrap;
  gap: var(--examples-gap);
}

.portfolio-examples-item {
  flex-basis: calc(100% / 3 - var(--examples-gap));
  flex-grow: 1;
}

.portfolio-examples-link {
  display: block;
}

.portfolio-examples-link:hover,
.portfolio-examples-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-examples-card {
  padding: 20px 24px;

  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #eeeeee;
}

/*властивості заголовків секції з прикладами (порфоліо)*/
.portfolio-examples-title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/*властивості тексту секції з прикладами (порфоліо)*/
.portfolio-examples-text {
  margin-top: 4px;

  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

/*фон футера*/
.footer {
  padding: 60px 0;

  background-color: var(--footer-background-color);
}

/*змінюємо лого у футері*/
.footer .logo {
  color: var(--white-color);
}

/*стилізуємо контакти*/
.footer-contacts {
  margin-top: 20px;

  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

/*стилізуємо посилання у контактах футера*/
.footer-contacts-link {
  color: rgba(255, 255, 255, 0.6);
}

/*білий колір посилання на карту*/
.footer-contacts-link.map {
  color: var(--white-color);
}

/*зміни при ховері, фокусі на посиланнях у футері*/
.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--accent-color);
}

.footer-box {
  padding-left: 70px;
}

.container.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-box-text {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}

/* список посилань на соцмережі */
.footer-soc-list {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-soc-icon {
  fill: currentColor;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}
