.button {
  // font-family: inherit;
  @include font(700, 16px, calc(30 / 16), 0.06em);

  color: var(--white-color);
  background-color: var(--accent-color);
  border-color: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
