.navigation {
  display: none;
  @include tablet {
    display: flex;
  }

  &--header {
    @include tablet {
      margin-left: 88px;
    }
    @include desktop {
      margin-left: 93px;
    }
  }

  &__menu {
    @extend %flex-centered;
    gap: 50px;
  }

  &__link {
    position: relative;

    display: block;
    padding: 32px 0;

    &--current {
      color: var(--accent-color);
      &::after {
        content: '';
        position: absolute;
        bottom: -1px;

        height: 4px;
        width: 100%;
        display: block;

        background-color: var(--accent-color);
        border-radius: 2px;
      }
    }
  }
}

.contacts {
  display: none;
  margin-left: auto;

  @include tablet {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  @include desktop {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  &__link {
    @extend %flex-centered;
    color: var(--primary-text-color);

    @include tablet {
      gap: 8px;
      padding: 1px 0;
    }
    @include desktop {
      gap: 10px;
      padding: 32px 0;
    }
  }

  &__icon {
    fill: currentColor;
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  z-index: 999;

  width: 100%;
  height: 100%;
  padding: 48px 40px;

  background-color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.02em;

  &-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @include mobile {
      gap: 32px;
    }
  }

  &-link {
    @include font(null, 26px, calc(31 / 26), null);
    @include mobile {
      @include font(null, 40px, calc(47 / 40), null);
    }
  }
}

.menu-open {
  padding: 0;
  margin-left: auto;
  width: 40px;
  height: 40px;
  @extend %full-flex-centered;

  background-color: transparent;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include tablet {
    display: none;
  }

  &__icon {
    fill: currentColor;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu-close {
  position: absolute;
  right: 15px;
  top: 10px;

  @extend %full-flex-centered;
  width: 40px;
  height: 40px;
  padding: 0;

  background-color: transparent;
  border-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &-icon {
    fill: currentColor;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mob-contacts-container {
  margin-top: 16px;
}

.mob-contacts {
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;
  margin-bottom: 32px;
  @include mobile {
    gap: 32px;
    margin-bottom: 64px;
  }

  &-email {
    @include font(null, 16px, calc(19 / 16), null);
    color: var(--primary-text-color);
    @include mobile {
      @include font(null, 24px, calc(28 / 24), null);
    }
  }

  &-phone {
    @include font(null, 22px, calc(26 / 22), null);
    color: var(--accent-color);
    @include mobile {
      @include font(null, 34px, calc(40 / 34), null);
    }
  }
}

.mob-soc-list {
  display: flex;
  gap: 10px;
  @include mobile {
    gap: 20px;
  }
}

.mob-soc-item {
  position: relative;

  &:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    width: 1px;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.2);
    @include mobile {
      right: -10px;
    }
    @include mobile {
      @include font(null, 18px, calc(22 / 18), null);
    }
  }
}

.mob-soc-link {
  @include font(null, 12px, calc(15 / 12), null);
  color: var(--accent-color);
}
