.soc-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;

  &__item {
    width: 44px;
    height: 44px;
  }

  &__link {
    width: 100%;
    height: 100%;
    @extend %flex-full-centered;

    color: #afb1b8;
    background-color: inherit;
    border-radius: 50%;

    transition: colosr 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--white-color);
      background-color: var(--accent-color);
    }
  }

  &__icon {
    fill: currentColor;
  }
}
