.features-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  &__item {
    width: 100%;

    @include tablet {
      @include calcWidth(2, 30px);
    }

    @include desktop {
      @include calcWidth(4, 30px);
    }
  }

  &__title {
    margin-bottom: 10px;
    text-align: center;

    @include font(null, 14px, calc(16 / 14), null);
    text-transform: uppercase;
    color: var(--title-text-color);
    @include tablet {
      text-align: start;
    }
  }

  &__box {
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    @extend %flex-full-centered;

    background-color: #f5f4fa;
    border-radius: 4px;
  }
}
