.footer {
  padding: 60px 0;
  letter-spacing: 0.03em;
  background-color: var(--footer-background-color);

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 60px;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: center;
      row-gap: 60px;
      column-gap: 165px;
    }
    
    @include desktop {
      gap: 94px;
      justify-content: space-between;
      text-align: start;
    }
  }

  &__contacts {
    margin-top: 28px;

    @include font(null, null, calc(24 / 14), null);

    &-item:not(:last-child) {
      margin-bottom: 12px;
    }

    &-link {
      color: rgba(255, 255, 255, 0.6);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        color: var(--accent-color);
      }

      &--map {
        color: var(--white-color);
      }
    }
  }
}

.box {

  &__title {
    margin-bottom: 20px;

    @include font(700, null, calc(16 / 14), null);
    text-transform: uppercase;
    color: var(--white-color);

    &--form-label {
      display: block;
    }
  }
}

.soc-list__link--footer {
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.form {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @include tablet {
      flex-direction: column;
    }
    
    @include desktop {
      flex-direction: row;
  }
  }

  &__input {
    padding: 15px 16px;
    width: 100%;

    @include font(null, 16px, calc(20 / 16), 0.03em);
    color: var(--white-color);
    background-color: var(--footer-background-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @include tablet {
      width: 450px;
    }

    @include desktop {
      width: 358px;
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }

    &:focus {
      border-color: var(--accent-color);
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    padding: 10px 27px;
    
    @include desktop {
      margin-top: 0;
      margin-left: 12px;
      
    }
    &-icon {
      fill: currentColor;
    }
  }
}
