.footer {
  padding: 60px 0;

  background-color: var(--footer-background-color);

  &__container {
    display: flex;
    align-items: baseline;
  }

  &__contacts {
    margin-top: 20px;

    line-height: 1.71;
    letter-spacing: 0.03em;

    &-item:not(:last-child) {
      margin-bottom: 9px;
    }

    &-link {
      color: rgba(255, 255, 255, 0.6);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        color: var(--accent-color);
      }

      &--map {
        color: var(--white-color);
      }
    }
  }
}

.box {
  margin-left: 70px;

  &__title {
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    &--form-label {
      display: block;
    }
  }
}

.soc-list__link--footer {
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.form {
  margin-left: auto;

  &__wrapper {
    display: flex;
  }

  &__input {
    padding: 15px 16px;
    width: 358px;

    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.03em;
    color: var(--white-color);
    background-color: var(--footer-background-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }

    &:focus {
      border-color: var(--accent-color);
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 12px;
    padding: 10px 28px;

    &-icon {
      fill: currentColor;
    }
  }
}
