.hero {
  padding-top: 0;
  padding-bottom: 0;

  &__overlay {
    max-width: 480px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;

    background-color: #c4c4c4;
    background-image: var(--bg-gradient), url('../images/hero-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include density-2x {
      background-image: var(--bg-gradient), url('../images/hero-mobile-2x.jpg');
    }

    @include tablet {
      max-width: 768px;

      background-image: var(--bg-gradient), url('../images/hero-tablet.jpg');
      @include density-2x {
        background-image: var(--bg-gradient),
          url('../images/hero-tablet-2x.jpg');
      }
    }

    @include desktop {
      max-width: 1600px;
      padding-top: 200px;
      padding-bottom: 200px;

      background-image: var(--bg-gradient), url('../images/hero.jpg');
      @include density-2x {
        background-image: var(--bg-gradient), url('../images/hero-2x.jpg');
      }
    }
  }

  &__title {
    margin: 0 auto 30px auto;
    max-width: 100%;

    @include font(900, 18px, calc(29 / 18), 0.06em);
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);

    @include mobile {
      max-width: 360px;
      @include font(900, 26px, calc(42 / 26), 0.06em);
    }

    @include desktop {
      max-width: 696px;
      @include font(null, 44px, calc(60 / 44), null);
    }
  }

  &__button {
    display: block;
    margin: 0 auto;
    padding: 10px 24px;

    @include desktop {
      padding: 10px 32px;
    }
  }
}
