/*-------------- НАША КОМАНДА ---------------------*/
/*фон секції Наша команда*/
.team {
  background-color: var(--secondary-background-color);
}

.people-list {
  display: flex;
  gap: 30px;
  justify-content: center;

  text-align: center;
}

.people-list__item {
  min-width: 270px;

  background-color: var(--primary-background-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.member-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.member-card__name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.member-card__position {
  margin-top: 10px;

  font-size: 16px;
  line-height: 1.19;
}

.member-card__soc-list {
  margin-top: 16px;
}