.todo {
  padding-top: 0;
}

.directions-list {
  display: flex;
  justify-content: space-between;

  &__item {
    min-width: 370px;
  }

  &__thumb {
    position: relative;
  }

  &__label {
    position: absolute;
    width: 100%;
    transform: translateY(-100%);
    padding-top: 27px;
    padding-bottom: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: rgba(47, 48, 58, 0.8);
  }
}
